body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

h1 {
    color: #fff;
}


/* Container da barra lateral principal (pai) */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}


/* ========================================
   Estilos da Barra Lateral
   ======================================== */


/* Estilo da estrutura da navegação */

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation ul li a {
    transition: color 0.3s;
}

.sidebar__navigation ul li a:hover {
    color: var(--spotify-color);
    /* Altera a cor ao passar o mouse */
}


/* Estilo da logo na barra lateral */

.sidebar.logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}


/*  acessando diretamente a tag da img*/

.logo img {
    width: 80px;
    transform: 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}


/*    ======================================== */


/* ========================================
   Estilos da Navegação
   ======================================== */


/* Estilo da lista de itens de navegação */

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}


/* Estilo dos itens de navegação */

.sidebar ul li {
    padding: 10px 0px;
}


/* Estilo dos links de navegação */

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}


/*    ======================================== */

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    transition: color 0.3s;
}

.library .library__button:hover {
    color: var(--spotify-color);
}

.library .library__content .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
    transform: color 0.3s, trasform 0.3s;
}

.library .library__content .fa-plus:hover {
    color: var(--spotify-color);
    transform: scale(1.1);
}

.section-activities.hidden{
    display: none;
}
.section-playlist,
.section-podcast,
.section-activities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
    max-height: 300px;
    /* Ajuste este valor conforme necessário */
    min-height: 100px;
    /* Adicione este valor para definir a altura mínima */
}

.section-playlist .section-playlist__content,
.section-podcast .section-podcast__content,
.section-activities .section-activities__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text,
.section-podcast__content .text,
.section-activities__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist__content .title,
.section-podcast__content .title,
.section-activities__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle,
.section-podcast__content .subtitle,
.section-activities__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button,
.section-podcast__content .section-podcast__button,
.section-activities__content .section-activities__button {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 150px;
    transform: color 0.3s, transform 0.3s;
}

.section-playlist__content .section-playlist__button:hover,
.section-podcast__content .section-podcast__button:hover,
.section-activities__content .section-activities__button:hover {
    transform: scale(1.1);
    background-color: var(--spotify-color);
    ;
}

.section-playlist,
.section-podcast,
.section-activities {
    margin-bottom: 15px;
}

.section-activities {
    margin-bottom: 10px;
}


/* propiedade scrollbar   */


/* ----------------------- */

.sidebar .legal-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.widget-container.legal-widget a:nth-child(2) {
    padding-left: 90px;
}

.widget-container.privacy-policy-widget a:nth-child(2) {
    /* Seus estilos aqui */
    padding-left: 15px;
}

.widget-container.more-cookies-widget a:nth-child(2) {
    padding-left: 50px;
}

.sidebar .more-cookies-widget {
    padding-bottom: 16px;
}

.sidebar .widget-container {
    margin: 5px 25px;
}

.sidebar .widget-container a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.widget-container.legal-widget a:nth-child(2) {
    padding-left: 90px;
}

.widget-container.privacy-policy-widget a:nth-child(2) {
    /* Seus estilos aqui */
    padding-left: 15px;
}

.widget-container.more-cookies-widget a:nth-child(2) {
    padding-left: 50px;
}

.sidebar .more-cookies-widget {
    padding-bottom: 16px;
}

.sidebar .widget-container a:hover {
    color: var(--spotify-color);
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    transition: color 0.3s, transform 0.3s;
}

.languages .languages__button:hover {
    color: var(--spotify-color);
    /* Altera a cor ao passar o mouse */
    transform: scale(1.1);
    /* Escala o botão para 110% do tamanho original */
}

.footer-section {
    display: flex;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

.footer-section__content {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.footer-section__content .ftitle {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 800;
}

.footer-section__content .ftext {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

.footer-section__button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
    height: 50px;
    margin-inline-end: 45px;
    transform: 0.3s;
    font-style: unset;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.3);
}

.footer-section__button:hover {
    transform: scale(1.1);
}